@media screen and (max-width: 500px){
    .container{
        width: 310px;
    }
    .screenshot-info{
        margin: 0 auto !important;
        padding: 0; 
        width: 300px;
    }
    .app-download{
        width: 310px;
    }
    .footer{
        .nav{
            &-menu{
                padding: 30px 0;
                flex-direction: column;
                &__item{
                    padding: 7px 0;
                }
            }
        }
    }
}