* {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, #fff 174px, #ededf6 1px) center;
    background-size: 175px 100%;
}
img {
    max-width: 100%;
    max-height: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    width: 1170px;
}
.section{
    padding: 130px 0px;
}
.section-info{
    text-align: center;
    &__title{
        color: #648cff;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__subtitle{
        margin-top: 20px;
        color: #999999;
        font-size: 18px;
    }
}
.to-top{
    position: fixed;
    bottom: 0;
    right: 50%;
    transform: translateX(600px);
    cursor: pointer;
    width: 50px;
    line-height: 43px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #434769;
}
@import 'header';

@import 'features';

@import 'widgets';

@import 'screenshots';

@import 'reviews';

@import 'app';

@import 'footer';